#!/bin/bash
# created by matthias.mengel@pik-potsdam.de

# variables depending on machine
pismcode_dir={{settings.pismcode_dir}}
PISM_EXEC={{settings.pism_exec}}

# variables depending on experiment name
runname=`echo $PWD | awk -F/ '{print $NF}'`
code_version=`echo $PWD | awk -F/ '{print $NF}' | awk -F_ '{print $1}'`

outdir={{settings.working_dir}}/$runname

# use only MPI if job is submitted
if [ -n "${PISM_ON_CLUSTER:+1}" ]; then  # check if env var is set
  echo "This run was submitted, use MPI"
  PISM_MPIDO="{{settings.pism_mpi_do}}"
  NN="$1"
else
  echo "This is interactive, skip use of MPI"
  PISM_MPIDO=""
  NN=""
fi

# get new pism code if fetch is argument
# if [ "$1" = "fetch" ]; then
mkdir -p $outdir/log/
# set parameters other than default ones.
ncgen3 config_override.cdl -o $outdir/config_override.nc
rsync -aCv $pismcode_dir/$code_version/bin/pismr $outdir/bin/
# fi

# set input files
bootstrapfile={{settings.bootstrapfile}}
atmfile={{settings.atm_data_dir}}/{{settings.atmfile}}

# boundary conditions
atm_opts="-surface given -surface_given_file $atmfile"
oceanfile={{settings.oceanfile}}
ocean_opts="{{settings.ocean_opts}}"

# technical
run_opts="-config_override config_override.nc -options_left \
          -o_format netcdf4_parallel"

PISM_DO="$PISM_MPIDO $NN $PISM_EXEC"
grid="{{settings.grid}}"

{% if "smoothing_nomass" in settings.steps %}

init_opts="-i $bootstrapfile -bootstrap $grid"
nomass_opts="-no_mass -stress_balance none -o no_mass.nc -ys 100000 -ye 200000"
options="$init_opts $run_opts $atm_opts $ocean_opts $nomass_opts"

echo "### no mass options:"
echo $PISM_DO $options
cd $outdir
$PISM_DO $options

# workaround: add tillphi to no_mass file
ncks -O -6 -v tillphi $bootstrapfile tillphi_tempfile.nc
ncap2 -O -s "lon_bnds=float(lon_bnds);lat_bnds=float(lat_bnds)" tillphi_tempfile.nc tillphi_tempfile.nc
cp no_mass.nc no_mass_tillphi.nc
ncks -A -v tillphi tillphi_tempfile.nc no_mass_tillphi.nc
{% endif %}

{% if "full_physics" in settings.steps %}
# inputs
infile={{settings.infile}}
startyear={{settings.startyear}}
length={{settings.length}}
{% if settings.bootstrappinig %}
init_opts="-i $infile -bootstrap $grid -ys $startyear -y $length"
{% else %}
init_opts="-i $infile -ys $startyear -y $length"
{% endif %}

extratm=0:20:1000000
timestm=0:1:1000000
snapstm=0:50:1000000

extra_opts="-extra_file extra -extra_split -extra_times $extratm"
ts_opts="-ts_times $timestm -ts_file timeseries.nc"
snaps_opts="-save_file snapshots -save_times $snapstm -save_split -save_size medium"
output_opts="$extra_opts $snaps_opts $ts_opts -o out.nc"
physics_opts="-topg_to_phi 5,15,-1000,1000"

options="$init_opts $run_opts $atm_opts $ocean_opts $output_opts $physics_opts"
echo "### PISM options:"
echo $PISM_DO $options

cd $outdir
$PISM_DO $options
{% endif %}