#!/bin/bash
# created by matthias.mengel@pik-potsdam.de

# variables depending on machine
pismcode_dir={{settings.pismcode_dir}}
PISM_EXEC={{settings.pism_exec}}

# variables depending on experiment name
runname=`echo $PWD | awk -F/ '{print $NF}'`
code_version=`echo $PWD | awk -F/ '{print $NF}' | awk -F_ '{print $1}'`

outdir={{settings.working_dir}}/$runname

# use only MPI if job is submitted
if [ -n "${PISM_ON_CLUSTER:+1}" ]; then  # check if env var is set
  echo "This run was submitted, use MPI"
  PISM_MPIDO="{{settings.pism_mpi_do}}"
  NN="$1"
else
  echo "This is interactive, skip use of MPI"
  PISM_MPIDO=""
  NN=""
fi

# get new pism code if fetch is argument
# if [ "$1" = "fetch" ]; then
mkdir -p $outdir/log/
# set parameters other than default ones.
ncgen3 config_override.cdl -o $outdir/config_override.nc
rsync -aCv $pismcode_dir/$code_version/bin/pismr $outdir/bin/
# fi

# set input files
infile={{settings.infile}}
atmfile={{settings.atm_data_dir}}/{{settings.atmfile}}
oceanfile={{settings.oceanfile}}


# boundary conditions
atm_opts="-surface given -surface_given_file $atmfile"

ocean_opts="{{settings.ocean_opts}}"

grid="{{settings.grid}}"

# technical
run_opts="-config_override $outdir/config_override.nc -options_left \
          -o_format netcdf4_parallel"

PISM_DO="$PISM_MPIDO $NN $PISM_EXEC"

{% if "smoothing_nomass" in settings.steps %}
init_opts="-i $infile -bootstrap $grid"
smooth_opts="-stress_balance sia -o smoothing.nc -ys 100000 -y 100"
options="$init_opts $run_opts $atm_opts $ocean_opts $smooth_opts"
echo "### smoothing options:"
echo $PISM_DO $options
cd $outdir
$PISM_DO $options

init_opts="-i smoothing.nc"
nomass_opts="stress_balance none -o no_mass.nc -ye 200000"
options="$init_opts $run_opts $atm_opts $ocean_opts $nomass_opts"
echo "### no mass options:"
echo $PISM_DO $options
cd $outdir
$PISM_DO $options
{% endif %}

# inputs
{% if settings.start_from_pism_file %}
init_opts="-i $infile -ys $startyear -y $length"
{% else %}
init_opts="-i $infile -bootstrap $grid -ys $startyear -y $length"
{% endif %}


{% if "full_physics" in settings.steps %}
# time settings and output options
startyear={{settings.startyear}}
length={{settings.length}}
extratm=0:50:1000000
timestm=0:1:1000000
snapstm=0:500:1000000

extra_opts="-extra_file extra -extra_split -extra_times $extratm"
ts_opts="-ts_times $timestm -ts_file timeseries.nc"
snaps_opts="-save_file snapshots -save_times $snapstm -save_split -save_size medium"
output_opts="$extra_opts $snaps_opts $ts_opts"

options="$init_opts $run_opts $atm_opts $ocean_opts $output_opts"
echo "### PISM options:"
echo $PISM_DO $options

cd $outdir
$PISM_DO $options
{% endif %}